<!--
  Generated template for the DetalleIncidencia page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle incidencia</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content-detalle" *ngFor="let item of datosIncidencia">
    <ion-slides pager="true" effect="flip">
      <ion-slide >
        <ion-icon class="icon-camera" *ngIf="!item.foto1" (click)="addImage1()"  name="camera" ></ion-icon>
        <img *ngIf=item.foto1 (press)="pressEvent(e,'foto1')" [src]="domsanitizer.bypassSecurityTrustUrl(item.foto1)" >
      </ion-slide>
      <ion-slide >
        <ion-icon class="icon-camera" *ngIf="!item.foto2" (click)="addImage2()"  name="camera" ></ion-icon>
        <img *ngIf=item.foto2 (press)="pressEvent(e,'foto2')" [src]="domsanitizer.bypassSecurityTrustUrl(item.foto2)" >
      </ion-slide>
      <ion-slide *ngIf=item.fotoR >
        <!--<ion-icon class="icon-camera"  *ngIf="!item.fotoR" (click)="addImage()"  name="camera" ></ion-icon>-->
        <img  (press)="pressEvent(e,'fotoR')" [src]="domsanitizer.bypassSecurityTrustUrl(item.fotoR)">
      </ion-slide>
    </ion-slides>
  <!--  <img (press)="pressEvent($event)" [src]="domsanitizer.bypassSecurityTrustUrl(item.fotos)">-->
    <ion-title style="text-align: center;">
      <h2>{{item.tipo}}</h2>
    </ion-title>
    <div class="texto-detalle">
      <h5 style="text-align: center;">{{item.descripcion}}</h5>
      <h5 >Encargado: {{nombreUsuario}}</h5>
      <ion-label *ngIf="item.fechalimite!=''">Fecha limite: <ion-badge item-end>{{item.fechalimite}}</ion-badge></ion-label>

      <div *ngIf="item.estado != 'Resuelta'" class="settings">
        <ion-buttons>
          <button style="width: 100%;" ion-button icon-only (click)="presentActionSheet()">
            Editar incidencia
          </button>
        </ion-buttons>
      </div>
    </div>
    <ion-buttons *ngIf="item.estado != 'Resuelta'" >
      <button style="width: 100%;" ion-button icon-only (click)="showAlert()" color="danger">
        Resolver
      </button>
    </ion-buttons>
    <div *ngIf="item.estado == 'Resuelta'" >
      <span style="text-align: center;"><h1>RESUELTA</h1></span>
    </div>
  </div>


</ion-content>
