<!--
  Generated template for the DetalleIncidencia page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Detalle incidencia</ion-title>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="content-detalle" *ngFor="let item of datosIncidencia">
    <ion-slides pager="true" >
      <ion-slide *ngFor="let foto of fotos">
        <img [src]="foto">
      </ion-slide>
    </ion-slides>
    <ion-title>
      <h2>{{item.tipo}}</h2>
    </ion-title>
    <div class="texto-detalle">
      <h5 style="text-align: center;">{{item.descripcion}}</h5>
      <h5 >{{item.encargado}}</h5>
      <ion-label>Fecha limite: <ion-badge item-end>{{item.fechalimite}}</ion-badge></ion-label>
      <div class="settings">
        <ion-buttons end>
          <button ion-button icon-only (click)="presentActionSheet()">
            <ion-icon name="settings"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </div>
    <div>
      <div style="float:left;" class="ubicacion-detalle">
        <ion-buttons>
          <button (click)="irAlMapa();" ion-button color="dark">
            Ver ubicación
          </button>
        </ion-buttons>
      </div>
      <ion-buttons style="float: left;">
        <button  (click)="addImage();" ion-button color="dark">
          Añadir foto
        </button>
      </ion-buttons>

    </div>
    <ion-buttons >
      <button style="width: 100%;" ion-button icon-only (click)="showAlert()" color="danger">
        Resolver
      </button>
    </ion-buttons>

  </div>


</ion-content>
