<!--
  Generated template for the DialogoIncidencia page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar id="toolbar-dialogo">
    <ion-title>Crear Incidencia</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form #form="ngForm" id="form-new-diag">
    <ion-item class="transparent">
      <ion-label stacked> Tipo</ion-label>
      <ion-select [(ngModel)]="incidencia.tipo"  name="tipo">
        <ion-option *ngFor="let tipo of tipos" value="{{tipo.$key}}"  required>
          {{tipo.$key}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="transparent">
      <ion-label stacked>Descripción</ion-label>
      <ion-textarea type="text" [(ngModel)]="incidencia.descripcion"  name="descripcion"></ion-textarea>
    </ion-item>
    <ion-item class="transparent">
      <ion-label stacked>Fecha limite</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" min={{fechaToday}} [(ngModel)]="incidencia.fechalimite" name="fechalimite" value=""></ion-datetime>
    </ion-item>
    <ion-item class="transparent">
      <ion-label stacked> Asignar a</ion-label>
      <ion-select  [(ngModel)]="incidencia.encargado" name="encargado">
        <ion-option   *ngFor="let encargado of encargados"  [selected]="encargado.key==adminDefaultKey" value="{{encargado.key}}" required>
          {{encargado.nombre}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-buttons >
      <button class="boton-foto" style="width: 100%;"ion-button icon-left (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>Añadir foto
      </button>
    </ion-buttons>
    <div style="margin: 0;text-align: center;" *ngIf="fotoOk">
      <p style="">Vista previa : <img style="vertical-align: middle;" [src]="domsanitizer.bypassSecurityTrustUrl(base64img)" style="width: 40px;height: auto;"></p>
    </div>
    <ion-buttons >
      <button class="boton-ubicacion" style="width: 100%;" ion-button icon-left (click)="seleccionarUbicacion()">
        <ion-icon name="navigate"></ion-icon>Añadir Ubicación
      </button>
    </ion-buttons>
    <button class="button-width" (click)="addIncidencia();" ion-button outline type="submit" [disabled]="!form.value.descripcion || !form.value.tipo" block>Crear</button>
  </form>
</ion-content>
