<!-- Generated template for the CardDesign component -->
<ion-card (click)="irADetalles()">
  <ion-card-content>
    <div >
     <img class="img-creadas" [src]="domsanitizer.bypassSecurityTrustUrl(foto1)" *ngIf="foto1&&!foto2&&!fotoR" />
     <img class="img-creadas" [src]="domsanitizer.bypassSecurityTrustUrl(foto2)" *ngIf="foto2&&!fotoR" />
     <img class="img-creadas" [src]="domsanitizer.bypassSecurityTrustUrl(fotoR)" *ngIf="fotoR" />
     <img class="img-creadas" [src]="domsanitizer.bypassSecurityTrustUrl(imageDefault)" *ngIf="!foto1&&!foto2&&!fotoR&&imageDefault" />
      <ion-card-title>
        {{tipo}}
        <ion-icon  *ngIf="estado =='Resuelta'" style="color:green;float:right;font-size: 2em;" name="checkmark-circle"></ion-icon>
        <ion-icon  class="parpadea" *ngIf="caducada && estado =='Pendiente'&&fechalimite!=''" style="color:red;float:right;font-size: 2em;" name="close-circle"></ion-icon>
      </ion-card-title>
      <p>
        {{descripcion}}
      </p>
    </div>

    <div style="width:100%;float:left;">
      <span class="s-encargado" item-end>Encargado: <strong>{{userName}}</strong></span>
      <span class="s-fecha" item-start>{{fecha}}</span>
    </div>
    <div class="s-codigo"><strong>{{codigo}}</strong></div>
  </ion-card-content>
</ion-card>
